.App {
  text-align: center;
  font-size: 2vb;

  user-select: none;

  position: fixed;
  inset: 0;
  background: black;
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.container {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 50%;
    transform-origin: top center;
    background-color: gray;
    font-family: Arial sans-serif;
}
