/**********************
header css
***********************/

.appHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/*  --- 상단 --- */
.topLeft {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 60px;
}

.topMid {
    position: absolute;
    right: 16%;
    padding: 5px 10px;
    display: flex;
}

.topRight {
    position: absolute;
    right: 5%;
    padding: 5px 10px;
    display: flex;
}

.resoruceBox {
    position: relative;
    display: flex;
    width: 250px;
    font-size: 20px;
    align-items: center;

    padding: 10px 12px 10px 30px;
    border-radius: 100px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: rgba(184, 148, 91, 0.4);
    border-left: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    background: rgb(116, 63, 14, 0.1);
    gap: 1em;
    color:white;
    margin: 0 5% 0 5%;
}

.resourceIcon {
    position: absolute;
    left: -55px;
    transform: translate(50%);
    min-width: 10px;
    max-width: 60px;
    min-height: 10px;
    max-height: 60px;
}

.resourceValue ,
.resourceTitle {
    color: white;
    text-align: center;
}

.resourceValue {
    text-align: right;
    width: 100px;
}

.backBtn {
    background-color: white;
    width: 100px;
    height: 100px;
    align-content: center;
    cursor: pointer;
}
