/************************************
character List Page css
*************************************/

.pageBg {
    position: absolute;
    padding: auto;
    background-image: url('/public/UI/Background/characterListBg.png');
    background-size: cover;
    filter: blur(15px);
    width: 100%;
    height: 100%;
}

/* 좌측 목록 */
.leftListContainer {
    position: absolute;
    top: 15%;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 16px;
}

.sortItem {
    font-weight: bold;
    font-size: 28px;
    color:white;

    width: 200px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 40px;
    border: 2px solid rgba(180, 150, 100, 0.7);
    border-radius: 12px;
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    cursor: pointer;
}

.sortImg {
    justify-self: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.rotateDown {
    transform: rotateZ(180deg);
    transition: transform 0.3s ease;
}
.rotateUp {
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
}

.leftList {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;
    width: 200px;
    height: 100px;
    cursor: pointer;
    padding-left: 25px;
}

.listTitle {
    margin-left: 20px;
    font-weight: bold;
}

.leftList::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 4px;
    background-color: rgba(180, 150, 100, 0.7);

    transition: transform 0.2s ease, height 0.2s ease;
}

.leftList:hover {
    border-left: 0px;
    border-color: rgba(230, 196, 143, 0.8);
    border-style: solid;
    color: rgba(230, 196, 134, 1);
}

.leftList:hover {
    filter: drop-shadow(0 0 6px rgba(230, 196, 143, 0.8));
}

.leftList:hover::before {
    background-color: rgba(230, 196, 143, 0.8);
    height: 100%;
}

.listIcon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.6))
            drop-shadow(0 0 12px rgba(150, 255, 241, 0.726));
}

.classSelected {
    border-left: 0px;
    border-style: solid;
    border-color: rgba(230, 196, 143, 0.8);
    color: rgba(230, 196, 134, 1);
}

.listIconSelected {
    filter: drop-shadow(0 0 6px rgba(255,255,255, 1))
            drop-shadow(0 0 12px rgba(250, 233, 197, 1));
}


/* --- 중앙 캐릭터 목록 카드 --- */
.characterList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    position: absolute;
    top: 9%;
    left: 330px;
    width: 80%;
    height: 80%;
    gap: 12px;
    margin-top: 20px;
    overflow-y:auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;;

    
    flex-direction: column;
    align-items:flex-start;
}

.characterCard {
    width: 250px;
    height: 400px;
    border: 12px double white;
    border-top-left-radius: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    
    transition: background 0.2s ease, height 0.2s ease;
}

/* hover 하면 내부 요소를 transition 하기 */
.characterCard:hover {
    width: 260px;
}