/*****************************
character detail page css
*****************************/

/* 배경 */
.pageBg {
    position: absolute;
    padding: auto;
    background-image: url('/public/UI/Background/characterInfoBg.png');
    background-size: cover;
    filter: blur(15px);
    width: 100%;
    height: 100%;
}



/* 좌측 목록 */
.leftListContainer {
    position: absolute;
    top: 35%;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 16px;
    gap: 16px;
}

.leftList {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;
    width: 200px;
    height: 100px;
    cursor: pointer;
    padding-left: 25px;
}

.leftList:hover {
    border-left: 0px;
    border-color: rgba(230, 196, 143, 0.8);
    border-style: solid;
    color: rgba(230, 196, 134, 1);
}

.leftList:hover {
    filter: drop-shadow(0 0 6px rgba(230, 196, 143, 0.8));
}

.listTitle {
    margin-left: 20px;
    font-weight: bold;
}

.listIcon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.6))
            drop-shadow(0 0 12px rgba(150, 255, 241, 0.726));
}

.listIconSelected {
    filter: drop-shadow(0 0 8px rgba(255,255,255, 1))
            drop-shadow(0 0 12px rgba(250, 233, 197, 1));
}

/* --- 중앙 --- */
.mainContainer {
    position: absolute;
    top: 14%;
    left: 300px;
    width: 80%;
    height: 80%;
    border: 2px solid black;
}