/***************************
캐릭터 장비 현황 영역 css
***************************/
/* 장비 착용 이미지 부분 */
.equipArea {
    position: absolute;
    left: 2%;
    width: 40%;
    height: 100%;
    border: 2px solid blue;
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
}

.itemArea {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
}
.itemText {
    height: 85%;
    padding: 15px;
    text-align: left;
    border: 1px solid green;
    display: grid;
    grid-template-rows: 25% 1fr;
}
.name {
    color: white;
}

.itemImg {
    width: 180px;
    height:180px;
    border: 1px solid red;
}
.itemValue {
    color: rgb(0, 77, 0);
}

/* 착용 스텟 표시 부분 */
.resultArea {
    position: absolute;
    right: 2%;
    width: 50%;
    height: 100%;
    display: grid;
    gap: 1%;
    grid-template-rows: 6% 72% 21%;
}

/* 착용으로 인한 스텟 변화 영역 */

.stateArea {
    border: 2px solid blue;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(8);
}
.stateTitle {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.stateRow {
    display: grid;    
    grid-template-columns: 50% 50%;
    border: 2px solid firebrick;
}

.infoItemTitle {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    color: white;
}

.infoValue {
    display: grid;
    grid-template-columns: 33% 1% 33%;
    align-items: center;
    color:white;
}

.valueOri {
    margin-right: 10px;
}

.valueConnection,
.valueAdd {
    color: green;
}

.btnArea {
    border: 2px solid blue;
}


