/***************************
캐릭터 정보 영역 css
***************************/

/* --- 영역 구분 --- */
.illustArea {
    position: absolute;
    left: 2%;
    width: 40%;
    height: 100%;
    border: 2px solid blue;
}

.infoArea {
    position: absolute;
    right: 2%;
    width: 50%;
    height: 100%;
    border: 2px solid blue;
    display: grid;
    grid-template-rows: 25% 40% 35%;
}

/* --- 스테이터스 출력 --- */
/* 상단 */
.infoTop {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px solid green;
}
.infoTopTop {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 100%;
    border: 2px solid yellow;
}
.infoGrade,
.infoName {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-self: center;
}


.infoTopBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    gap: 10px;
    border: 2px solid yellow;
}

.infoLevel{
    text-align: left;
    font-weight: border;
}

.infoExpBar {
    width: 80%;
    padding-left: 120px;
    height: 10px;
    border: 1px solid blue;
    background-color: blueviolet;
}


/* 중단 */ 
.infoMid {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border: 2px solid red;
    margin-left: 100px;
    margin-right: 100px;
}

.infoMidRow{
    display: grid;
    grid-template-columns: 50% 50%;
}

.infoMidItem {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid black;
}

.infoValue,
.infoItemTitle {
    display: flex;
    align-items: center;
    justify-self: center;
}

/* 하단 */
.infoBottom {
    display: grid;
    grid-template-rows: 40% 60%;
    border: 2px solid purple;
}

.infoBottomTop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.infoSynergyArea{
    /*좌측 정렬*/
    gap:10px;
    align-items: center;
    justify-self: start;
    border: 2px solid plum;
}

.infoSynergy {
    width: 100px;
    height: 100px;
}

.infoBottomBottom {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.infoSkillArea{
    gap: 10px;
    border:2px solid plum;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.infoSkill {
    width: 100px;
    height: 100px;
    justify-self: center;
    border: 2px solid pink;
}